<div id="home">
  <div class="nav d-flex p-2">
    <div class="pr-2 d-flex">
      <span class="material-symbols-outlined"> error_med </span>
      <span class="hidden-md-down">Issue Tracker</span>
    </div>

    <app-search placeholder="Search Issues.."></app-search>

    <mat-form-field>
      <mat-label>Create New..</mat-label>
      <select matNativeControl id="mySelectId">
        <option value="" disabled selected></option>
        <option value="issue">Issue</option>
        <option value="sprint">Sprint</option>
      </select>
    </mat-form-field>

    <span
      class="material-symbols-outlined"
      [title]="'Log Out'"
      role="button"
      (click)="logout()"
    >
      <span class="material-symbols-outlined"> input </span>
    </span>
  </div>
  <div class="content-body">
    <div class="left-navigation">
      <div><a [routerLink]="'/home'">Home</a></div>
    </div>

    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
