#home {
  background-color: yellow;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.nav {
  background-color: green;
  height: 50px;
}

.content-body {
  height: calc(100vh - 50px);
  width: 100%;
}

.left-navigation {
  background-color: red;
  height: 100%;
  width: 150px;
}
